<div class="section">
	
<h2>Projects</h2> 
 
<div>
    <h3>Yours Truly - <a href="http://aaronfrey.com">aaronfrey.com</a></h3>
    <div>
        <p>This blog may not look like much, but at least I can say that I wrote it and designed all on my own. All my previous web development experience required open source and third party code like Wordpress to make anything at all. I see this as my testing ground for new functionality. I will continue to expand and improve upon this site as I grow as a developer.</p>

<%= image_tag "aaronfrey.png", :width => '100%' %>
    </div>
    <h3>Harpuun - <a href="http://harpuun.com" target="_blank">harpuun.com</a></h3>
    <div>
        <p>Harpuun.com is project matching service for Individuals, Small Businesses, and Non-Profits looking for Starter League Students to provide them with reliable Web Development and Design work. </p>

<%= image_tag "https://s3.amazonaws.com/gimme-grabs-new/7217F8D0-CBD1-4552-B93A-E244B3CF2AED", :width => '100%' %>
    </div>
    <h3>Freybook - <a href="http://freybook.com" target="_blank">freybook.com</a></h3>
    <div>
        <p>It's the next Facebook, literally! This is sorta top secret, but keep a lookout I'll be launching it in a couple weeks if all goes well. Shhh... </p>

<%= image_tag "https://s3.amazonaws.com/gimme-grabs-new/DD4AAF0F-FE3F-43AF-8E34-E3F13D26D657", :width => '100%' %>

    </div>
</div>


</div>

<div class="aside">

<aside>
	<h2>Twitter Feed</h2>
	
	<a class="twitter-timeline" href="https://twitter.com/chicago_trader" data-widget-id="270964021396639744">Tweets by @chicago_trader</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
</aside>	
	
<div class="aside_bottom">
	<h2>Instagram Feed</h2>	
	
	<!-- SnapWidget -->
	<iframe src="http://snapwidget.com/in/?u=ZnJleWFtMTN8aW58MjQ1fDF8NHx8eWVzfDV8bm9uZQ==" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:260px; height: 1040px" ></iframe>
	
</aside_bottom>

</div>
